input{
    margin: 30px 20px 20px 20px;
       border-radius: 0.4rem!important;
  }

.form-select{
    margin:30px 20px 0px 20px;
    padding: 5px;
    border-color:#cdcdcd!important;
    border-radius: 0.4rem;
}

button
{
  margin: 30px;
  border-radius: 0.4rem;
}

.error
{
  margin: 15px 20px -15px 20px;
  padding: 0rem 1.00rem;
  border-radius: 0.4rem;
}



