input{
    margin:20px;
   }
button
{
 margin:20px;
}
.form-select{
    margin:20px;
    padding: 5px;
    border-color:#cdcdcd!important;

}
.inv
{
  margin: 27px 50px 0px 43px;
}
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8.25rem;
}