<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Full Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Address</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Ahmed</td>
        <td>Male</td>
        <td>25</td>
        <td>01066205027</td>
        <td>ميت محسن / حى الزهراء / بجوار أوليمبك جيم</td>
        <td>
            <button class="btn btn-success">Update</button>
            <button class="btn btn-primary">Delete</button>
        </td>
      </tr>
     
    </tbody>
  </table>
  <button class="btn btn-danger">Edit</button>